@font-face {
    font-family: "Cera Pro";
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/CeraPro-Regular.woff2);
}
@font-face {
    font-family: "Cera Pro";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/CeraPro-Light.woff2);
}
@font-face {
    font-family: "Cera Pro";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/CeraPro-Bold.woff2);
}
* {
    box-sizing: border-box;
    margin: 0;
}
.body {
   font-family: "Cera Pro", Arial, sans-serif;
   font-weight: 400;
   font-style: normal;
}
.img-responsive {
    max-width: 100%;
    height: auto;
}
.wrapper {
    max-width: 1240px;
    min-width: 991px;
    margin: 0 auto;
    padding: 0 20px;
}
.header {
    display: flex;
    align-items: center;
    padding-top: 26px;
    padding-bottom: 29px;
    border-bottom: 1px solid rgba(70, 163, 88, 0.50);
    margin-bottom: 12px;
}
.logo img {
    display: block;
}
.menu {
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
.menu li {
    margin: 0 25px;
}
.menu a {
    color: #3D3D3D;;
    font-size: 16px;
    line-height: normal;
    text-decoration: none;
}
.menu a:hover {
    border-bottom: 2px solid #46A358;
    padding-bottom: 35px;
    color: #3D3D3D;
    font-weight: 700;
}
.icon-card {
    background-image: url(../img/img-19.svg);
    width: 20px;
    height: 20px;
    margin-right: 30px;
}
.icon-card-1 {
    background-image: url(../img/img-18.svg);
    width: 24px;
    height: 24px;
    margin-right: 30px;
    position: relative;
}
.count {
    width: 16px;
    height: 16px;
    font-size: 10px;
    text-decoration: none;
    color: #FFF;
    border-radius: 50%;
    background-color: #46A358;
    position: absolute;
    border: 2px solid #FFF;
    right: -5px;
    top: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-button {
    border-radius: 6px;
    background: #46A358;
    border: none;
    padding: 8px 19px;
    color: #FFF;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.menu-button svg {
    margin-right: 5px;
}
.hero-section {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(98deg, rgba(245, 245, 245, 0.50) -23.46%, rgba(245, 245, 245, 0.50) 107.51%);
    margin-bottom: 46px;
}
.section-text {
    padding-left: 40px;
    padding-top: 60px;
}
.section-p {
    color: #3D3D3D;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px; 
    letter-spacing: 1.4px;
    text-transform: uppercase;
    padding-right: 3px;
}
.section-header {
    color: #3D3D3D;
    font-size: 70px;
    font-weight: 900;
    line-height: 70px;
    text-transform: uppercase;
    padding-top: 5px;
}
.section-item {
    color: #46A358;
}
.section-unit {
    color: #727272;
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 44px;
}
.shop-now {
    border-radius: 6px;
    background: #46A358;
    color: #FFF;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 11px 26px;
}
.content {
    display: flex;
    margin: 0 -10px;
}
.content-left-box {
    padding: 0 10px;
    width: 25%;
} 
.left-box {
    background: #FBFBFB;
}
.left-box-header {
    padding-top: 14px;
    padding-left: 16px;
    padding-bottom: 7px;
    color: #3D3D3D;   
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
}
.left-box-menu {
    list-style: none;
    padding-left: 0;
}
.left-box-menu a:hover {
    color: #46A358;
}
.line {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: #3D3D3D;
    font-size: 15px;
    font-weight: 700;
    line-height: 40px
}
.banner {
     margin-top: 50px;
}
.content-right-box {
    width: 75%;
    padding: 0 10px;
}
.right-box-menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 38px;
}
.right-unit {
    text-decoration: none;
    color: #3D3D3D;
    font-size: 15px;
    line-height: 16px;
    padding-left: 20px;
    padding-right: 20px;
}
.right-unit:hover {
    border-bottom: 2px solid #46A358;
    padding-bottom: 7px;
    color: #46A358;
    font-weight: 700;
    }
.right-elem {
    text-decoration: none;
    color: #3D3D3D;
    font-size: 15px;
    line-height: 16px;
    margin-bottom: 17px;
}
.right-elem button {
    text-decoration: none;
    background: none;
    border: none;
    font-family: "Cera Pro";
    color: #3D3D3D;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 16px;
    margin-bottom: 17px;
    cursor: pointer;
}
.cards {
    margin: 0 -10px;
    display: flex;
    flex-wrap: wrap;
}
.card {
    width: 33.333%;
    padding: 0 10px 70px;
}
.card-inset {
    background-color: #fbfbfb;
    height: 300px;
    position: relative;
    border-top: 1px solid transparent;
    margin-bottom: 12px;
}
.card-inset:hover {
    border-top:1px solid #46A358;
}
.card-inset:hover .box-chare {
    display: flex;
}
.box-chare {
    position: absolute;
    display: none;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
    padding-bottom: 3px;
}
.box-chare-btn {
    width: 35px;
    height: 35px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #FFF;
    cursor: pointer;
    margin: 0 7px;
}
.box-chare-btn:hover path {
    fill: #46A358;

}
.card-name {
    color: #3D3D3D;
    font-size: 16px;
    line-height: 16px;
}
.card-price {
    color: #46A358;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
}
.card-span {
    position: absolute;
    padding: 5px;
    background-color: #46A358;
    line-height: 16px;
    color: #FFF;
    top: 5px;
    left: 0;
}
.paginator {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: 600px;
}
.next-1 {  
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #3D3D3D;
    color: #3D3D3D;
    line-height: 16px;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 3px;
}
.next-1:hover {
    background-color: #46A358;
    color: #fff;
}
.next {
    margin-bottom: 10px;
    width: 30px;
    height: 30px;
    border: 1px solid #3D3D3D;
    background-image: url(../img/img-10.svg);
    background-repeat: no-repeat;
}
.next:hover{
    background-color: #46A358;
    background-image: url(../img/img-11.svg);
}
.container {
    margin-top: 100px;
    margin-bottom: 132px;
}
.container-header {
    display: flex;
    margin-bottom: 62px;
    margin-top: 6px;
}
.container-card {
    width: 50%;  
    padding: 0 10px 10px;
}
.container-card-inset {
    display: flex;
    justify-content: center;
    background-color: #FBFBFB;
}
.cont-card-name {
    color: #3D3D3D;
    text-align: right;
    font-size: 18px;
    font-weight: 900;
    line-height: 24px; 
    text-transform: uppercase;
    padding-top: 62px;
    padding-bottom: 23px;
    padding-right: 23px;

}
.cont-card-text {
    color: #727272;
    text-align: right;
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 23px;
    padding-right: 20px;
}
.cont-card-but {
    border: none;
    text-decoration: none;
    border-radius: 6px;
    background: #46A358;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 28px ;
    padding-right: 28px;
    margin-left: 120px;
    color: #FFF;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
}
.container-section {
    margin-top: 132px;
    margin-bottom: 138px;
}
.container-section-heder {
    color: #3D3D3D;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 15px;
}
.cont-sec-unit {
    color: #727272;
    text-align: center;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 35px;
}
.cont-sec-card {
    display: flex;
    margin: 0 -10px;
}
.elem {
    width: 25%;
    padding: 0 10px;
}
.elem img {
    display: block;
}
.elem-text {
    padding: 15px;
    background-color: #FBFBFB;
  }
.elem-p {
    color: #46A358;
    font-weight: 500;
    line-height: 16px;
    margin-bottom: 4px;
}
.elem-text h3 {
    color: #3D3D3D;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 4px;
}
.elem-item {
    color: #727272;
    line-height: 22px;
    margin-bottom: 9px;
}
.cont-sec-but {
    text-decoration: none;
    color: #3D3D3D;
    font-weight: 500;
    line-height: 16px;
    cursor: pointer;
}